<%= form_for(@team, :html => {:multipart => true, :class => "well form-horizontal"}) do |f| %>
  <%= render :partial => "shared/error_messages", :locals => {:model => f.object} %>
    <div class="control-group">
        <%= f.label t('name'), :class => "control-label" %>
        <div class="controls"><%= f.text_field :name %></div>
    </div>
    <div class="control-group">
        <%= f.label t('team_form.address1'), :class => "control-label" %>
        <div class="controls"><%= f.text_field :address1 %></div>
    </div>
    <div class="control-group">
        <%= f.label t('team_form.address2'), :class => "control-label" %>
        <div class="controls"><%= f.text_field :address2 %></div>
    </div>
    <div class="control-group">
        <%= f.label t('team_form.city'), :class => "control-label" %>
        <div class="controls"><%= f.text_field :city %></div>
    </div>
    <div class="control-group">
        <%= f.label t('team_form.state'), :class => "control-label" %>
        <div class="controls"><%= f.text_field :state %></div>
    </div>
    <div class="control-group">
        <%= f.label t('team_form.zip'), :class => "control-label" %>
        <div class="controls"><%= f.text_field :zip %></div>
    </div>
    <div class="control-group">
        <%= f.label t('team_form.country'), :class => "control-label" %>
        <div class="controls"><%= f.country_select(:country, :priority => %w(US CA), :prompt => "Choose..." ) %></div>
    </div>
    <div class="control-group">
        <%= f.label t('team_form.phone'), :class => "control-label" %>
        <div class="controls"><%= f.text_field :phone %></div>
    </div>
    <div class="control-group">
        <%= f.label t('team_form.website'), :class => "control-label" %>
        <div class="controls"><%= f.text_field :website %></div>
    </div>
    <div class="control-group">
        <%= f.label t('team_form.email'), :class => "control-label" %>
        <div class="controls"><%= f.text_field :email %></div>
    </div>
  <div class="control-group">
    <%= f.label :avatar, :class => "control-label" %>
    <div class="controls"><%= f.file_field :avatar %></div>
  </div>
  <% unless @team.new_record? || !@team.avatar? %>
    <div class="control-group">
      <%= f.label "Delete existing avatar", :class => "control-label" %>
      <div class="controls"><%= f.check_box :avatar_delete, :label => 'Delete Avatar' %></div>
    </div>
  <% end %>
  <div class="form-actions">
        <%= f.submit save_label, :class => "btn" %>
        <%= link_to "Cancel", teams_path, :class => "btn" %>
    </div>
<% end %>