
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table id="teams_table" class="table table-condensed">
<tr>
<th title="Name"><%= sortable "name", t('name')  %></th>
<th title="City"><%= sortable "city",t('team_form.city')  %></th>
<th title="State"><%= sortable "state",t('team_form.state')  %></th>
<th title="Zip"><%= sortable "zip",t('team_form.zip')  %></th>
<th title="Country"><%= sortable "country",t('team_form.country')  %></th>
</tr>
<% for team in @teams%>
<tr>
  <td><%= link_to team.name, team %></td>
  <td><%= team.city %></td>
  <td><%= team.state %></td>
  <td><%= team.zip %></td>
  <td><%= team.country %></td>
</tr>
<% end%>
</table>
<%= render :partial => "shared/pagination", :locals => {:model => @teams} %>


