<h1>Edit team</h1>

<%= form_for(@team) do |f| %>
  <%= render 'shared/error_messages_team', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

