<h1>Team Repository</h1>
<div class="flash notice">Teams play in different leagues over various seasons. And, they also play in tournaments and cups. 
Manage basic team profile information here.</div>

<% if signed_in? %>
<div class="actions">
  <nav class="round">
    <ul>
      <li><%= link_to "New Team", "teams/new", :class => "action_button round" %></li>
    </ul>
  </nav>
</div>
<% end %>

<%= form_tag teams_path, :method => 'get', :remote => true, :id => "teams_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="teams">
    <%= render 'team' %>
  </div>
<% end %>

