<h1>New Team</h1>

<%= form_for(@team) do |f| %>
  <%= render 'shared/error_messages_team', :object => f.object %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :address1 %>
    <%= f.text_field :address1 %>

    <%= f.label :address2 %>
    <%= f.text_field :address2 %>

    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :state %>
    <%= f.text_field :state %>

    <%= f.label :zip %>
    <%= f.text_field :zip %>

    <%= f.label :country %>
    <%= f.select(:country, Carmen::countries.unshift(["Choose...", ""]) ) %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :website %>
    <%= f.text_field :website %>

    <%= f.label :email %>
    <%= f.text_field :email %>

  <div class="actions">
    <%= f.submit "Create", :class => "btn" %>
    <input type="button" id="cancelTeamNew" value="Cancel" class="btn" />
  </div>
<% end %>