
<h1>Team: <%= @team.name %></h1>
<div class="actions">
  <nav class="round">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Edit", "#{@team.id}/edit", :class => "action_button round"  %></li>
        <li><%= link_to "Add Team", "/teams/new", :class => "action_button round" %></li>
      <% end %>
      <li><%= link_to "All Teams", teams_path, :class => "action_button round" %></li>
    </ul>
  </nav>
</div>

  <div class="tfield">
    <label>Address1</label>
    <span><%= @team.address1 %></span>
  </div>
  <div class="tfield">
    <label>Address2</label>
    <span><%= @team.address2 %></span>
  </div>
  <div class="tfield">
    <label>City</label>
    <span><%= @team.city %></span>
  </div>
  <div class="tfield">
    <label>State</label>
    <span><%= @team.state %></span>
  </div>
  <div class="tfield">
    <label>Zip</label>
    <span><%= @team.zip %></span>
  </div>
  <div class="tfield">
    <label>Country</label>
    <span><%= @team.country %></span>
  </div>
  <div class="tfield">
    <label>Phone</label>
    <span><%= @team.phone %></span>
  </div>
  <div class="tfield">
    <label>Website</label>
    <span><%= @team.website %></span>
  </div>
  <div class="tfield">
    <label>Email</label>
    <span><%= @team.email %></span>
  </div>

