<% unless @league == nil %>
<ul class="breadcrumb">
  <li><%= link_to "#{@league.name} - #{@league.from_year}-#{@league.to_year}", league_path(@league) %><span class="divider">/</span></li>
  <li class="active"><%= @team.name %></li>
</ul>
<% end%>

<h2 class="team"><%=t :team  %>: <%= @team.name %></h2>


<div class="btn-group">
  <% if can? :new, @team %>
      <%= link_to "Edit", "#{@team.id}/edit", :class => "btn"  %>
      <%= link_to "Add Team", new_team_path, :class => "btn" %>
  <% end %>
  <%= link_to "All Teams", teams_path, :class => "btn" %>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-condensed">
      <tr>
        <th><%=t 'team_form.address1' %></th>
        <td><%= @team.address1 %></td>
      </tr>
      <tr>
        <th><%=t 'team_form.address2' %></th>
        <td><%= @team.address2 %></td>
      </tr>
      <tr>
        <th><%=t 'team_form.city' %></th>
        <td><%= @team.city %></td>
      </tr>
      <tr>
        <th><%=t 'team_form.state' %></th>
        <td><%= @team.state %></td>
      </tr>
      <tr>
        <th><%=t 'team_form.zip' %></th>
        <td><%= @team.zip %></td>
      </tr>
      <tr>
        <th><%=t 'team_form.country' %></th>
        <td><%= @team.country %></td>
      </tr>
      <tr>
        <th><%=t 'team_form.phone' %></th>
        <td><%= @team.phone %></td>
      </tr>
      <tr>
        <th><%=t 'team_form.website' %></th>
        <td><%= @team.website %></td>
      </tr>
      <tr>
        <th><%=t 'team_form.email' %></th>
        <td><%= @team.email %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= render :partial => "shared/audit", :locals => {:auditable => @team} %>
  </div>
</div>

