<tr>
<td><%= playerstat.teamstat.league.name %></td>
<td><%= playerstat.teamstat.league.year %></td>
<td><%= playerstat.teamstat.team.name %></td>
<td><%= playerstat.goals %></td>
<td><%= playerstat.assists %></td>
<td><%= playerstat.shots %></td>
<td><%= playerstat.fouls %></td>
<td><%= playerstat.yellow_cards %></td>
<td><%= playerstat.red_cards %></td>
<td><%= playerstat.minutes %></td>
<td><%= playerstat.saves %></td>
<td><%= playerstat.jersey_number %></td>
</tr>


