<ul class="breadcrumb">
  <li><%= link_to "All Games", league_games_path(@game.league) %><span class="divider">/</span></li>
  <li><%= link_to "#{@game.visiting_team_name} at #{@game.home_team_name}", game_path(@game.id) %><span class="divider">/</span></li>
  <li class="active"> Add Person to Game</li>
</ul>

<p>
<%= form_for(@playerstat) do |f| %>

  <div class="alert alert-info">This person will be added to the match for <%= @playerstat.team_name %></div>

    <div class="control-group">
        <%= f.label "Person", :class => "control-label" %>
        <div class="controls"><%= f.text_field :person_id %></div>
    </div>
    <%= f.hidden_field :game_id %>
    <%= f.hidden_field :teamstat_id %>

  <div>You could give the user choice of all people or just from their roster?
  </div>
  <div class="actions">
    <%= f.submit "Add to Game", :class => "btn" %>
    <input type="button" id="cancelGamePersonAdd" value="Cancel" class="btn" />
  </div>

<div id="playerstat_help">
Can't find your person? You need to <%= link_to "create your person first", people_path %>. Then add your person to the game.
</div>


<% end %>


</p>
