<h1>Edit league</h1>

<%= form_for(@league) do |f| %>
  <%= render 'shared/error_messages_league', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>



  <div class="actions">
    <%= f.submit "Update" %>
    <input type="button" id="cancelLeagueEdit" value="Cancel"/>
  </div>
<% end %>

