<%=header_title("League Management")%>
<div class="alert">Leagues contain teams and matches and may be long (season) or short (tournaments/cups). Teams have rosters within a league season. Manage the season lifecycle here.</div>

<%= form_tag leagues_path, :method => 'get', :remote => true, :id => "leagues_search", :class => "form-search" do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => "input-medium search-query" %>
    <%= submit_tag t(:search), :class => "btn" %>
  </p>
<% end %>
<div id="leagues">
  <%= render 'league' %>
</div>

