<h1>New League</h1>

<%= form_for [@league.organization, @league] do |f| %>
  <%= render 'shared/error_messages_league', :object => f.object %>
  <%= f.hidden_field :organization_id %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </div>
  <div class="alert">Indicate whether you want to manage games. If you choose "Support Games",
    you want to manage individual games and have your league table updated automatically.
    Leave it unchecked if you would like to manually edit your league table (wins/losses) manually without game management.</div>
  <div class="field">
    <%= f.label :supports_games %><br />
    <%= f.check_box(:supports_games) %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
    <input type="button" id="cancelLeagueNew" value="Cancel"/>
  </div>
<% end %>

