<h3><%= link_to "All Leagues", leagues_path %> - <%= "#{@league.name} (#{@league.year})" %></h3>

<div class="actions">
  <nav class="round">
    <ul>
      <% if can? :new, @league %>
        <li><%= link_to "Edit League", "#{@league.id}/edit", :class => "action_button round" %></li>
        <li><%= link_to "Add Team", new_league_teamstat_path(@league), :class => "action_button round" %></li>
        <% unless @teamstats.size < 2 %>
        <li><%= link_to "Create Game", new_league_game_path(@league), :class => "action_button round" %></li>

        <% end %>
      <% end %>
      <% unless @league_games_size < 1 %>
      <li><%= link_to "View Games", league_games_path(@league), :class => "action_button round" %></li>
      <% end %>
    </ul>
  </nav>
</div>

<div>
<strong>Teams in this league: </strong> <%= @league.teamstats.count %>


<% unless @teamstats.empty? %>
  <table id="league_table" class="grid_shaded">
  <tr>
  <th title="Club">Club</th>
  <th title="Points">PTS</th>
  <th title="Games Played">GP</th>
  <th title="Wins">W</th>
  <th title="Losses">L</th>
  <th title="Ties">T</th>
  <th title="Goals For">GF</th>
  <th title="Goals Against">GA</th>
  </tr>
    <%= render @teamstats %>
  </table>
<% end %>

</div>


