<ul class="breadcrumb">
  <li><%= link_to "#{@organization.name}", "/organizations/#{@organization.id}" %><span class="divider">/</span></li>
  <li class="active"><%= "#{@league.name} (#{@league.year})" %></li>
</ul>

<div class="btn-group">
      <% if can? :new, @league %>
        <%= link_to "Edit League", "#{@league.id}/edit", :class => "btn" %>
        <%= link_to "Add Team", new_league_teamstat_path(@league), :class => "btn" %>
        <% unless @teamstats.size < 2 %>
        <%= link_to "Create Game", new_league_game_path(@league), :class => "btn" %>

        <% end %>
      <% end %>
      <% if @league.games_exist %>
      <%= link_to "View Games", league_games_path(@league), :class => "btn" %>
      <% end %>
</div>

<div>
  <div class="alert">Teams in this league: <%= @league.teamstats.count %></div>
  <% unless @teamstats.empty? %>
    <table id="league_table" class="table table-condensed">
    <tr>
    <th title="Club">Club</th>
    <th title="Points">PTS</th>
    <th title="Games Played">GP</th>
    <th title="Wins">W</th>
    <th title="Losses">L</th>
    <th title="Ties">T</th>
    <th title="Goals For">GF</th>
    <th title="Goals Against">GA</th>
    </tr>
      <%= render @teamstats %>
    </table>
  <% end %>
</div>
<div class="row">
  <div class="span12">
      <%= render :partial => "shared/audit", :locals => {:auditable => @league} %>
  </div>
</div>
