<tr>
<td><%= link_to roster.player.firstname + " " + roster.player.lastname, "../players/" + roster.player.id.to_s %></td>
<td><%= roster.player.position %></td>
<td><%= roster.player.nationality %></td>
<td><%= roster.player.previous_club %></td>
<% if signed_in? %>
<td>
    <%= link_to "Remove", roster, :method => :delete,
                                     :confirm => "Remove this player?",
                                     :title => "Remove", 
                                     :class => "action_button_nar round" %>
</td>
<% end %>
</tr>
