<%= form_for(model, :html => {:multipart => true, :class => "well form-horizontal"}) do |f| %>
  <%= render :partial => "shared/error_messages", :locals => {:model => f.object} %>
  <div class="control-group">
    <%= f.label :firstname, :class => "control-label" %>
    <div class="controls"><%= f.text_field :firstname %></div>
  </div>
  <div class="control-group">
    <%= f.label :lastname, :class => "control-label" %>
    <div class="controls"><%= f.text_field :lastname %></div>
  </div>
  <div class="control-group">
    <%= f.label :birth_date, :class => "control-label" %>
    <div class="controls"><%= f.text_field :birth_date %></div>
  </div>
  <div class="control-group">
    <%= f.label :nationality, :class => "control-label" %>
    <div class="controls"><%= f.country_select(:nationality, :priority => %w(US CA), :prompt => "Choose..." ) %></div>
  </div>
  <div class="control-group">
    <% if current_user.metric %>
      <%= f.label :height_meters, :class => "control-label" %>
      <div class="controls"><%= f.text_field :height_meters %></div>
    <% else %>
      <%= f.label :height_feet, :class => "control-label" %>
      <div class="controls"><%= f.text_field :height_feet %></div>
      <%= f.label :height_inches, :class => "control-label" %>
      <div class="controls"><%= f.text_field :height_inches %></div>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.label :birth_nation, :class => "control-label" %>
    <div class="controls"><%= f.country_select(:birth_nation, :priority => %w(US CA), :prompt => "Choose..." ) %></div>
  </div>
  <div class="control-group">
    <%= f.label :birth_city, :class => "control-label" %>
    <div class="controls"><%= f.text_field :birth_city %></div>
  </div>
  <div class="control-group">
    <%= f.label :avatar, :class => "control-label" %>
    <div class="controls"><%= f.file_field :avatar %></div>
  </div>
  <% unless @person.new_record? || !@person.avatar? %>
    <div class="control-group">
      <%= f.label "Delete existing avatar", :class => "control-label" %>
      <div class="controls"><%= f.check_box :avatar_delete, :label => 'Delete Avatar' %></div>
    </div>
  <% end %>
  <div class="alert">If this person is player, what position do they play?</div>
  <div class="control-group">
    <%= f.label :position, :class => "control-label" %>
    <div class="controls"><%= f.select(:position, Person::POSITIONS) %></div>
  </div>
  <div class="form-actions">
    <%= f.submit save_label, :class => "btn" %>
    <%= link_to "Cancel", people_path, :class => "btn" %>
  </div>
<% end %>