<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table id="users_table" class="table table-condensed">
<tr>
<th title="username"><%= sortable "username"  %></th>
<th title="Actions">Actions</th>
</tr>
<% for user in @users%>
<tr>
  <td><%= link_to user.username, user %></td>
  <td>
      <% if can? :new, @user %>
      <%= link_to "Delete", user, :method => :delete, :data => {:confirm => "Delete this user: #{user.username}?"},
                                  :class => "btn btn-danger",
                                  :title => "Delete #{user.username}" %>
      <% end %>  
  </td>
</tr>
<% end%>
</table>
<%= render :partial => "shared/pagination", :locals => {:model => @users} %>
