<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table id="users_table" class="table table-condensed">
<tr>
<th title="username"><%= sortable "username"  %></th>
<th title="Actions">Actions</th>
</tr>
<% for user in @users%>
<tr>
  <td><%= link_to user.username, user %></td>
  <td>
      <% if can? :new, @user %>
      <%= link_to "Delete", user, :method => :delete, :confirm => "Delete this user: #{user.username}?",
                                  :class => "action_button_nar round",
                                  :title => "Delete #{user.username}" %>
      <% end %>  
  </td>
</tr>
<% end%>
</table>
<div class="page_info"><%= page_entries_info @users %></div>
<%= will_paginate %>
