<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table id="users_table" class="grid_shaded">
<tr>
<th title="Name"><%= sortable "name"  %></th>
<th title="Actions">Actions</th>
</tr>
<% for user in @users%>
<tr>
  <td><%= link_to user.name, user %></td>
  <td>
    <% if current_user.admin? %>
    | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                  :title => "Delete #{user.name}" %>
    <% end %>
  </td>
</tr>
<% end%>
</table>
<div class="page_info"><%= page_entries_info @users %></div>
<%= will_paginate %>
