<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <p><%= f.label :roles, "Roles" %><br />

  <% for role in User.valid_roles %>
    <%= check_box_tag "user[perms][]", role, @user.roles.include?(role) %>
    <%=h role.capitalize %><br />
  <% end %>
  <%= hidden_field_tag "user[perms][]", "" %>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
