<%=header_title("Edit User")%>

<%= form_for(@user, :html => {:class => "well form-horizontal"}) do |f| %>
  <%= render :partial => "shared/error_messages", :locals => {:model => f.object} %>
  <div class="control-group">
    <%= f.label :username, :class => "control-label" %>
    <div class="controls"><%= f.text_field :username %></div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls"><%= f.text_field :email %></div>
  </div>
  <div class="control-group">
    <%= f.label :roles, :class => "control-label" %>
    <div class="controls">
      <% for role in User.valid_roles %>
        <%= check_box_tag "user[perms][]", role, @user.roles.include?(role) %>
        <%=h role.capitalize %><br />
      <% end %>
      <%= hidden_field_tag "user[perms][]", "" %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Update", :class => "btn" %>
    <%= link_to "Cancel", user_path, :class => "btn" %>
  </div>
<% end %>
