<h1>All users</h1>

<% if can? :new, @user %>
<div class="alert">Filter Users By Role</div>
<div class="btn-group">
  <%= link_to "Admins", "/users?role=admin", :class => "btn" %>
  <%= link_to "Free", "/users?role=free", :class => "btn" %>
  <%= link_to "Disabled", "/users?role=", :class => "btn" %>
  <%= link_to "All", "/users", :class => "btn" %>
</div>
<% end %>

<%= form_tag users_path, :method => 'get', :remote => true, :id => "users_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :username => nil %>
  </p>

  <div id="users">
    <%= render 'user' %>
  </div>
<% end %>

