<div class="hero-unit">
  <h2>Soccer Stats For All!</h2>
  <p>  Soccer League Manager puts league management into your hands. Currently, this application is under a lot of development and 
  will be changing frequently. Feel free to try it out. Just keep in mind it is not feature complete. And, data will not be saved.
</p>
  <p>
    <%= link_to "Organizations", organizations_path, :class => "btn btn-primary btn-large" %>
    <%= link_to "Leagues", leagues_path, :class => "btn btn-primary btn-large" %>
    <%= link_to "Teams", teams_path, :class => "btn btn-primary btn-large" %>
    <%= link_to "People", people_path, :class => "btn btn-primary btn-large" %>
    <% if !user_signed_in? %>
      <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-large" %>
    <% end%>
  </p>
</div>


