<%= form_for [@venue], :html => {:class => "well form-horizontal"} do |f| %>
  <%= render :partial => "shared/error_messages", :locals => {:model => f.object} %>
    <div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls"><%= f.text_field :name %></div>
    </div>
    <div class="control-group">
        <%= f.label "Year Built", :class => "control-label" %>
        <div class="controls"><%= f.text_field :built %></div>
    </div>
    <div class="control-group">
        <%= f.label :address, :class => "control-label" %>
        <div class="controls"><%= f.text_area(:address, size: "24x3") %></div>
    </div>
    <div class="control-group">
        <%= f.label :description, :class => "control-label" %>
        <div class="controls"><%= f.text_area(:description, size: "24x3") %></div>
    </div>
    <div class="control-group">
        <%= f.label :directions, :class => "control-label" %>
        <div class="controls"><%= f.text_area(:directions, size: "24x3") %></div>
    </div>
    <div class="control-group">
        <%= f.label "Coordinates (Latitude)", :class => "control-label" %>
        <div class="controls"><%= f.text_field :coordinate_lat %></div>
    </div>
    <div class="control-group">
        <%= f.label "Coordinates (Longitude)", :class => "control-label" %>
        <div class="controls"><%= f.text_field :coordinate_long %></div>
    </div>
    <div class="control-group">
        <%= f.label :surface, :class => "control-label" %>
        <div class="controls"><%= f.text_field :surface %></div>
    </div>
    <div class="form-actions">
        <%= f.submit save_label, :class => "btn" %>
        <%= link_to "Cancel", leagues_path, :class => "btn" %>
    </div>
<% end %>

