  <%= f.fields_for :rosters do |c| %>
  <tr>
  <td><%= c.object.person.firstname %> <%= c.object.person.lastname %> </td>

  <td>
      <%= c.select(:position, Person::POSITIONS) %>
  </td>
    <td><%= c.text_field :jersey_number, :class => "span1" %></td>
    <% unless @league.supports_games? %>
      <td><%= c.text_field :goals, :class => "span1" %></td>
      <td><%= c.text_field :assists, :class => "span1" %></td>
      <td><%= c.text_field :shots, :class => "span1" %></td>
      <td><%= c.text_field :fouls, :class => "span1" %></td>
      <td><%= c.text_field :yellow_cards, :class => "span1" %></td>
      <td><%= c.text_field :red_cards, :class => "span1" %></td>
      <td><%= c.text_field :minutes, :class => "span1" %></td>
      <td><%= c.text_field :saves, :class => "span1" %></td>
  <% end %>
  </tr>
  <% end %>
