<tr>
<td><%= link_to "#{roster.person.firstname} #{roster.person.lastname}", "../people/" + roster.person.id.to_s %></td>
<td><%= roster.jersey_number %></td>
<td><%= (roster.position? ? roster.position : roster.person.position) %></td>
<td><%= roster.person.nationality %></td>
<% if can? :new, @teamstat %>
    <td>
        <%= link_to "Remove", roster, :method => :delete,
                    :confirm => "Remove this person from the roster?",
                    :id => "remove_person",
                    :title => "Remove",
                    :class => "btn btn-danger" %>
    </td>
<% end %>
</tr>
