<tr>
<td><%= link_to teamstat.team.name, "../teams/" + teamstat.team.id.to_s   %></td>

<td><%= teamstat.points %></td>
<td><%= teamstat.games_played %></td>
<td><%= teamstat.wins %></td>
<td><%= teamstat.losses %></td>
<td><%= teamstat.ties %></td>
<td><%= teamstat.goals_for %></td>
<td><%= teamstat.goals_against %></td>
</tr>
