<tr>
<td><%= link_to teamstat.team_name, "/teamstats/#{teamstat.id}" %></td>
<td><%= teamstat.points %></td>
<td><%= teamstat.games_played %></td>
<td><%= teamstat.wins %></td>
<td><%= teamstat.losses %></td>
<td><%= teamstat.ties %></td>
<td><%= teamstat.goals_for %></td>
<td><%= teamstat.goals_against %></td>
<% unless @league.games_exist %>
<td>
    <%= link_to "Remove", teamstat, :method => :delete,
                                     :confirm => "Remove this team?",
                                     :title => "Remove",
                                     :class => "btn btn-danger" %>
</td>
<% end %>
</tr>
