<tr>
<td><%= teamstat.team.name %></td>
<td><%= teamstat.points %></td>
<td><%= teamstat.games_played %></td>
<td><%= teamstat.wins %></td>
<td><%= teamstat.losses %></td>
<td><%= teamstat.ties %></td>
<td><%= teamstat.goals_for %></td>
<td><%= teamstat.goals_against %></td>
</tr>
