<tr>
<%= zone_cell_at_position(@league.zones,teamstat_counter+1) %>
<td><%= teamstat.team_name %></td>
<td><%= teamstat.calculate_points %></td>
<td><%= teamstat.games_played %></td>
<td><%= teamstat.wins %></td>
<td><%= teamstat.losses %></td>
<td><%= teamstat.ties %></td>
<td><%= teamstat.goals_for %></td>
<td><%= teamstat.goals_against %></td>
<td>
  <div class="btn-group">
      <%= link_to "Roster", teamstat_path(teamstat.id), :class => "btn" %>
      <% unless @games_exist %>
      <% if can? :new, teamstat %>
          <%= link_to "Remove", teamstat, :method => :delete,
                      :data => {:confirm => "Remove this team?"},
                      :title => "Remove",
                      :class => "btn btn-danger" %>
      <% end %>
    <% end %>
  </div>
</td>
</tr>
