<ul class="breadcrumb">
  <li><%= link_to "#{@league.name} (#{@league.from_year}-#{@league.to_year})", league_path(@league.id) %><span class="divider">/</span></li>
  <li><%= link_to "#{@teamstat.team_name} Roster", teamstat_path(@teamstat.id) %></li>
</ul>

<%=header_title("Edit Roster")%>
<p>
  <%= form_for(@teamstat, :html => {:class => "well form-horizontal"}) do |f| %>
  <% unless @teamstat.rosters.empty? %>
    <table id="rosters_table" class="table table-condensed">
    <tr>
    <th title="Name">Name</th>
    <th title="Position">Position</th>
    <th title="Jersey Number">Jersey Number</th>
    <% unless @league.supports_games? %>
        <th title="Goals">Goals</th>
        <th title="Assists">Assists</th>
        <th title="Shots">Shots</th>
        <th title="Fouls">Fouls</th>
        <th title="Yellow">Yellow</th>
        <th title="Red">Red</th>
        <th title="Min">Min</th>
        <th title="Saves">Saves</th>
    <% end %>
    </tr>
      <%= render "roster_fields", :f => f %>
    </table>
  <% end %>
    <div class="form-actions">
      <%= f.submit "Update Roster", :class => "btn" %>
      <%= link_to "Cancel", teamstat_path(@teamstat.id), :class => "btn" %>
    </div>
  <% end %>
</p>
