<h1 class="league"><%= link_to "#{@league.name} (#{@league.year})", "/leagues/#{@league.id}" %></h1>
<h1 class="team indent1"><%= "Edit #{@teamstat.team.name} Roster" %></h1>

<p>
<%= form_for [@teamstat] do |f| %>
   
  <div class="field">
    <%= f.label :team %><br/>
    <%= @teamstat.team.name %>
  </div>
  <div class="field">
    <%= f.label :player_tokens, "Players" %><br/>
    <%= f.text_field :player_tokens, "data-pre" => @teamstat.players.map(&:fields).to_json %>
  </div>

  <div class="actions">
    <%= f.submit "Update Roster", :class => "button round" %>
    <input type="button" id="cancelLeagueTeamAdd" value="Cancel" class="button round" />
  </div>

<% end %>

</p>
