<h1>New League Team (teamstat)</h1>

<%= form_for(@teamstat) do |f| %>
  <%= render 'shared/error_messages_teamstat', :object => f.object %>
    <%= f.text_field :league_id %>
  <div class="field">
    <%= f.label :points %><br />
    <%= f.text_field :points %>
  </div>
  <div class="field">
    <%= f.label :wins %><br />
    <%= f.text_field :wins %>
  </div>
  <div class="field">
    <%= f.label :losses %><br />
    <%= f.text_field :losses %>
  </div>
  <div class="field">
    <%= f.label :ties %><br />
    <%= f.text_field :ties %>
  </div>
  <div class="field">
    <%= f.label :goals_for %><br />
    <%= f.text_field :goals_for %>
  </div>
  <div class="field">
    <%= f.label :goals_against %><br />
    <%= f.text_field :goals_against %>
  </div>
  <div class="field">
    <%= f.label :games_played %><br />
    <%= f.text_field :games_played %>
  </div>
  <%= f.hidden_field :league_id, :value => @league_id %>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

