<ul class="breadcrumb">
  <li><%= link_to "#{@league.name} (#{@league.year})", "/leagues/#{@league.id}" %><span class="divider">/</span>
  </li>
  <li class="active"><%= "#{@teamstat.team.name} Roster" %></li>
</ul>

<div class="btn-group">
  <% if can? :new, @teamstat %>
        <%= link_to "Edit Roster", "#{@teamstat.id}/edit", :class => "btn" %>
        <%= link_to "View Team", team_path(@teamstat.team), :class => "btn" %>
        <%= link_to "Edit Team", edit_team_path(@teamstat.team), :class => "btn" %>
  <% end %>
</div>

<% if @teamstat.rosters.empty? %>
  <div class="alert">No people associated with this team in this league. To start building a roster, Click Edit Roster.</div>
<% end %>

<div class="row">
  <div class="span12">
    <% unless @teamstat.people.empty? %>
      <table id="roster_table" class="table table-condensed">
      <tr>
        <th title="Person Name">Name</th>
        <th title="Position">Position</th>
        <th title="Nationality">Nationality</th>
      </tr>
        <%= render :partial => "person", :collection => @teamstat.people %>
      </table>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span12">
      <%= render :partial => "shared/audit", :locals => {:auditable => @teamstat} %>
  </div>
</div>

