<ul class="breadcrumb">
  <li><%= link_to "#{@teamstat.league.name} (#{@teamstat.league.from_year}-#{@teamstat.league.to_year})", league_path(@teamstat.league) %><span class="divider">/</span>
  </li>
  <li class="active"><%= "#{@teamstat.team.name} Team Information" %></li>
</ul>

<div class="btn-group">
  <% if can? :new, @teamstat %>
        <%= link_to "Edit Roster", "#{@teamstat.id}/edit", :class => "btn" %>
        <% if can? :new, @game %>

        <td><%= link_to "Add Player", new_teamstat_roster_path(@teamstat.id), :class => "btn" %></td>
        <td><%= link_to "Add Staff", new_teamstat_technicalstaff_path(@teamstat.id), :class => "btn" %></td>
        <td><%= link_to "Add Playing Location", new_teamstat_playinglocation_path(@teamstat.id), :class => "btn" %></td>
        <% end %>
        <%= link_to "View Team", team_path(@teamstat.team), :class => "btn" %>
        <%= link_to "Edit Team", edit_team_path(@teamstat.team), :class => "btn" %>
  <% end %>
</div>

<% if @teamstat.rosters.empty? %>
  <div class="alert">No players associated with this roster for this team in this league. To start building a roster, Click Add Player.</div>
<% end %>
<% if @teamstat.technicalstaffs.empty? %>
    <div class="alert">No staff associated with this roster for this team in this league. To start building a roster, Click Add Staff.</div>
<% end %>
<% if @teamstat.league.supports_games? %>
  <div class="alert">The team in this league supports game management. Individual player stats are maintained by editing stats in each game. The results of those stats should be rolled up here (TODO).</div>
<% else %>
  <div class="alert">The team in this league does not support game management.
    You may edit the individual player stats by editing the roster.</div>
<% end %>



<div class="row">
  <div class="span12">
    <% unless @teamstat.rosters.empty? %>
    <h3>Roster</h3>
      <table id="roster_table" class="table table-condensed">
      <tr>
        <th title="Person Name">Name</th>
        <th title="Jersey Number">Jersey Number</th>
        <th title="Position">Position</th>
        <th title="Nationality">Nationality</th>
        <% unless @teamstat.league.supports_games? %>
          <th title="Goals">Goals</th>
          <th title="Assists">Assists</th>
          <th title="Shots">Shots</th>
          <th title="Fouls">Fouls</th>
          <th title="Yellow">Yellow</th>
          <th title="Red">Red</th>
          <th title="Min">Min</th>
          <th title="Saves">Saves</th>
      <% end %>
      </tr>
        <%= render :partial => "roster", :collection => @teamstat.rosters %>
      </table>
    <% end %>
  </div>
</div>
<div class="row">
    <div class="span12">
        <% unless @teamstat.technicalstaffs.empty? %>
            <h3>Technical Staff</h3>
            <table id="technicalstaff_table" class="table table-condensed">
                <tr>
                    <th title="Person Name">Name</th>
                    <th title="Role">Role</th>
                    <th title="Nationality">Nationality</th>
                </tr>
                <%= render :partial => "technicalstaff", :collection => @teamstat.technicalstaffs %>
            </table>
        <% end %>
    </div>
</div>

<div class="row">
  <div class="span12">
    <% unless @teamstat.playinglocations.empty? %>
    <h3>Playing Locations</h3>
      <table id="playinglocation_table" class="table table-condensed">
      <tr>
        <th title="Venue Name">Name</th>
        <th title="Built">Built</th>
      </tr>
        <%= render :partial => "playinglocation", :collection => @teamstat.playinglocations %>
      </table>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
      <%= render :partial => "shared/audit", :locals => {:auditable => @teamstat} %>
  </div>
</div>

