  <%= f.fields_for :playerstats do |c| %>
  <tr>
  <td><%= c.object.team.name %></td>
  <td><%= c.object.player.firstname %> <%= c.object.player.lastname %></td>
  <td><%= c.text_field :goals, :size => 3 %></td>
  <td><%= c.text_field :assists, :size => 3 %></td>
  <td><%= c.text_field :shots, :size => 3 %></td>
  <td><%= c.text_field :fouls, :size => 3 %></td>
  <td><%= c.text_field :yellow_cards, :size => 3 %></td>
  <td><%= c.text_field :red_cards, :size => 3 %></td>
  <td><%= c.text_field :minutes, :size => 3 %></td>
  <td><%= c.text_field :saves, :size => 3 %></td>
  <td><%= c.text_field :jersey_number, :size => 3 %></td>
  </tr>
  <% end %>
