<ul class="breadcrumb">
  <li><%= link_to "View Game", game_path(@game.id)  %><span class="divider">/</span></li>
  <li class="active"><%= "Edit Game: #{@game.visiting_team_name} at #{@game.home_team_name}" %></li>
</ul>


<h2 class="game indent1">Game: <%= "#{@game.visiting_team_name} vs #{@game.home_team_name}" %></h2>

<%= form_for(@game, :html => {:class => "well form-horizontal"}) do |f| %>
  <%= render :partial => "shared/error_messages", :locals => {:model => f.object} %>

  <div class="control-group">
    <%= f.label :completed, :class => "control-label" %>
    <div class="controls"><%= f.check_box :completed %></div>
  </div>

  <% unless @game.playerstats.empty? %>
    <table id="playerstats_table" class="table table-condensed">
    <tr>
    <th title="Club">Club</th>
    <th title="Person">Person</th>
    <th title="Goals">Goals</th>
    <th title="Assists">Assists</th>
    <th title="Shots">Shots</th>
    <th title="Fouls">Fouls</th>
    <th title="Cautions">Cautions</th>
    <th title="Ejections">Ejections</th>
    <th title="Minutes">Minutes</th>
    <th title="Saves">Saves</th>
    <th title="Jersey Number">Jersey</th>
    </tr>
      <%= render "playerstat_fields", :f => f %>
    </table>
  <% end %>
  <div class="form-actions">
    <%= f.submit "Update", :class => "btn" %>
    <%= link_to "Cancel", game_path(@game.id), :class => "btn" %>
  </div>
<% end %>