<h3><%= link_to "#{@game.league.name} (#{@game.league.year})", "/leagues/#{@game.league.id}" %> 
- <%= link_to "All Games", league_games_path(@game.league) %> - Create Game</h3>

<p>

<%= form_for [@league, @game] do |f| %>
  <%= render 'shared/error_messages_game', :object => f.object %>

  <div class="field">
    <%= f.label :visiting_team %><br />
    <%= f.select :team1_id, Teamstat.where(:league_id => @league).collect { |t| [ t.team.name, t.team_id ] } %>
  </div>

  <div class="field">
    <%= f.label :home_team %><br />
    <%= f.select :team2_id, Teamstat.where(:league_id => @league).collect { |t| [ t.team.name, t.team_id ] } %><br/>
  </div>
  
  <div class="actions">
    <%= f.submit "Create Game", :class => "button round" %>
    <input type="button" id="cancelGameAdd" value="Cancel" class="button round"/>
  </div>

<% end %>

</p>
