<ul class="breadcrumb">
  <li><%= link_to "All Games", league_games_path(@game.league) %><span class="divider">/</span></li>
  <li class="active">Game: <%= "#{@game.visiting_team_name} vs #{@game.home_team_name}" %></li>
</ul>

<% if can? :new, @game %>
<div class="btn-toolbar">
    <%= link_to "Manage Game Stats", edit_game_path(@game.id), :class => "btn"  %>
    <%= link_to "Remove", @game, :method => :delete,
                                       :data => {:confirm => "Remove this game?"},
                                       :id => "remove_game",
                                       :title => "Remove",
                                       :class => "btn btn-danger" %>
</div>
<% end %>

  <table id="gamedetails_table" class="table table-condensed table-bordered">
  <tr>
    <th>Visiting Team</th>
    <td><%= @game.visiting_team_name %></td>
    <td><%= @game.visiting_team_goals %></td>
    <% if can? :new, @game %>
      <td><%= link_to "Add Person", new_game_teamstat_playerstat_path(@game.id, @game.visiting_team.id), :class => "btn" %></td>
    <% end %>
  </tr>
  <tr>
    <th>Home Team</th>
    <td><%= @game.home_team_name %></td>
    <td><%= @game.home_team_goals %></td>
    <% if can? :new, @game %>
      <td><%= link_to "Add Person", new_game_teamstat_playerstat_path(@game.id, @game.home_team.id), :class => "btn" %></td>
    <% end %>
  </tr>
  </table>

<div class="row">
  <div class="span3">
    <h3>Game Status</h3>
  </div>
  <div class="span9">
    <% if @game.completed? %>
      <span class="label label-success">Game Over</span>
    <% else %>
      <span class="label label-warning">Game In Progress</span>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>Roster Count</h3>
  </div>
  <div class="span8">
      <span class="label label-info"><%= @game.roster_count %></span>
  </div>
</div>

<% unless @game.playerstats.empty? %>
  <table id="playerstats_table" class="table table-condensed">
  <tr>
  <th title="Club">Club</th>
  <th title="Person">Person</th>
  <th title="Goals">Goals</th>
  <th title="Assists">Assists</th>
  <th title="Shots">Shots</th>
  <th title="Fouls">Fouls</th>
  <th title="Cautions">Cautions</th>
  <th title="Ejections">Ejections</th>
  <th title="Minutes">Minutes</th>
  <th title="Saves">Saves</th>
  <th title="Jersey Number">Jersey</th>
  </tr>
    <%= render @game.playerstats %>  
  </table>
<% end %>
<div class="row">
  <div class="span12">
      <%= render :partial => "shared/audit", :locals => {:auditable => @game} %>
  </div>
</div>
