<%=header_title("New Technical Staff")%>

<%= form_for [@technicalstaff.teamstat, @technicalstaff], :html => {:class => "well form-horizontal"} do |f| %>
  <%= render :partial => "shared/error_messages", :locals => {:model => f.object} %>
    <%= f.hidden_field :teamstat_id %>
    <div class="alert alert-info">This person will be added as staff for <%= @teamstat.team_name %></div>

    <div class="control-group">
        <%= f.label "Person", :class => "control-label" %>
        <div class="controls"><%= f.text_field :person_id %></div>
    </div>
    <div class="control-group">
        <%= f.label :role, :class => "control-label" %>
        <div class="controls"><%= f.select(:role, Person::TECHNICAL_ROLES) %></div>
    </div>
    <div class="form-actions">
        <%= f.submit "Create", :class => "btn" %>
        <%= link_to "Cancel", leagues_path, :class => "btn" %>
    </div>
<% end %>

