<%=header_title("Sign in")%>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well form-horizontal"}) do |f| %>
  <div class="control-group">
    <%= f.label t('login_form.username'), :class => "control-label" %>
    <div class="controls"><%= f.text_field :username %></div>
  </div>
  <div class="control-group">
    <%= f.label t('login_form.password'), :class => "control-label" %>
    <div class="controls"><%= f.password_field :password %></div>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="control-group">
      <%= f.label t('login_form.remember_me'), :class => "control-label" %>
      <div class="controls"><%= f.check_box :remember_me %></div>
    </div>
  <% end -%>
  <div class="form-actions">
    <%= f.submit "Sign In", :class => "btn" %>
    <%= link_to "Cancel", root_path, :class => "btn" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
