<h1>Edit player</h1>

<%= form_for(@player) do |f| %>
  <%= render 'shared/error_messages_player', :object => f.object %>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.text_field :birth_date %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality %>
  </div>
  <div class="field">
    <%= f.label :previous_club %><br />
    <%= f.text_field :previous_club %>
  </div>
  
  <% unless @player.playerstats.empty? %>
    <table id="playerstats_table">
    <tr>
    <th title="League/Club">League/Club</th>
    <th title="Goals">Goals</th>
    <th title="Assists">Assists</th>
    <th title="Shots">Shots</th>
    <th title="Fouls">Fouls</th>
    <th title="Cautions">Cautions</th>
    <th title="Ejections">Ejections</th>
    <th title="Minutes">Minutes</th>
    <th title="Saves">Saves</th>
    <th title="Jersey Number">Jersey #</th>
    </tr>
      <%= render "playerstat_fields", :f => f %>
    </table>
  <% end %>  
  

  
  <div class="actions">
    <%= f.submit "Update" %>
    <input type="button" id="cancelPlayerEdit" value="Cancel"/>
  </div>
<% end %>

