<h1>Edit player</h1>

<%= form_for(@player) do |f| %>
  <%= render 'shared/error_messages_player', :object => f.object %>
<br/> 

    <%= f.label :firstname %>
    <%= f.text_field :firstname %>

    <%= f.label :lastname %>
    <%= f.text_field :lastname %>

    <%= f.label :position %>
    <%= f.select(:position, Player::POSITIONS) %>

    <%= f.label :birth_date %>
    <%= f.text_field :birth_date %>

    <%= f.label :nationality %>
    <%= f.select(:nationality, Carmen::countries.unshift(["Choose...", ""]) ) %>

  <% if current_user.metric %>
      <%= f.label :height_meters%>
      <%= f.text_field :height_meters%>
  <% else %>
      <%= f.label :height_feet%>
      <%= f.text_field :height_feet%>
      <%= f.label :height_inches%>
      <%= f.text_field :height_inches%>
  <% end %>

    <%= f.label :birth_nation %>
    <%= f.select(:birth_nation, Carmen::countries.unshift(["Choose...", ""]) ) %>

    <%= f.label :birth_city %>
    <%= f.text_field :birth_city%>


  <div class="actions">
    <%= f.submit "Update", :class => "btn" %>
    <input type="button" id="cancelPlayerUpdate" value="Cancel" class="btn" />
  </div>
<% end %>

