<h1>Edit player</h1>

<%= form_for(@player) do |f| %>
  <%= render 'shared/error_messages_player', :object => f.object %>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.select(:position, Player::POSITIONS) %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.text_field :birth_date %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br />
    <%= f.select(:nationality, Carmen::countries.unshift(["Choose...", ""]) ) %>
  </div>
  <div class="field">
    <%= f.label :height_meters%><br />
    <%= f.text_field :height_meters%>
  </div>

  <div class="field">
    <%= f.label :height_feet%><br />
    <%= f.text_field :height_feet%>
  </div>
  <div class="field">
    <%= f.label :height_inches%><br />
    <%= f.text_field :height_inches%>
  </div>


  <div class="field">
    <%= f.label :birth_nation %><br />
    <%= f.select(:birth_nation, Carmen::countries.unshift(["Choose...", ""]) ) %>
  </div>
  <div class="field">
    <%= f.label :birth_city %><br />
    <%= f.text_field :birth_city%>
  </div>


  <div class="actions">
    <%= f.submit "Update", :class => "button round" %>
    <input type="button" id="cancelPlayerUpdate" value="Cancel" class="button round" />
  </div>
<% end %>

