<h1>Edit player</h1>

<%= form_for(@player) do |f| %>
  <%= render 'shared/error_messages_player', :object => f.object %>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

