<h1>Player Repository</h1>
<div class="alert">Players careers span often span multiple teams and leagues. Manage basic player profile information here.</div>

<div class="btn-group">
  <% if can? :new, @player %>
      <%= link_to "New Player", "players/new", :class => "btn" %>
  <% end %>
</div>

<%= form_tag players_path, :method => 'get', :remote => true, :id => "players_search" do %>
  <p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div id="players">
  <%= render 'player' %>
</div>

