<h1>New player</h1>

<%= form_for(@player) do |f| %>
  <%= render 'shared/error_messages_player', :object => f.object %>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.text_field :birth_date %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality %>
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height%>
  </div>



<div class="actions">
    <%= f.submit "Create", :class => "button round" %>
    <input type="button" id="cancelPlayerNew" value="Cancel" class="button round" />
  </div>
<% end %>

