<h2>New player</h2>

<%= form_for(@player, :html => {:class => "well form-horizontal"}) do |f| %>
  <%= render 'shared/error_messages_player', :object => f.object %>
  <div class="control-group">
    <%= f.label :firstname, :class => "control-label" %>
    <div class="controls"><%= f.text_field :firstname %></div>
  </div>
  <div class="control-group">
    <%= f.label :lastname, :class => "control-label" %>
    <div class="controls"><%= f.text_field :lastname %></div>
  </div>
  <div class="control-group">
    <%= f.label :position, :class => "control-label" %>
    <div class="controls"><%= f.select(:position, Player::POSITIONS) %></div>
  </div>
  <div class="control-group">
    <%= f.label :birth_date, :class => "control-label" %>
    <div class="controls"><%= f.text_field :birth_date %></div>
  </div>
  <div class="control-group">
    <%= f.label :nationality, :class => "control-label" %>
    <div class="controls"><%= f.select(:nationality, Carmen::countries.unshift(["Choose...", ""]) ) %></div>
  </div>
  <div class="control-group">
    <%= f.label :height, :class => "control-label" %>
    <div class="controls"><%= f.text_field :height %></div>
  </div>
  <div class="control-group">
    <%= f.label :birth_nation, :class => "control-label" %>
    <div class="controls"><%= f.select(:birth_nation, Carmen::countries.unshift(["Choose...", ""]) ) %></div>
  </div>
  <div class="control-group">
    <%= f.label :birth_city, :class => "control-label" %>
    <div class="controls"><%= f.text_field :birth_city %></div>
  </div>
  <div class="form-actions">
    <%= f.submit "Create", :class => "btn" %>
    <%= link_to "Cancel", players_path, :class => "btn" %>
  </div>
<% end %>