<ul class="breadcrumb">
  <li><%= link_to "All Players", players_path %><span class="divider">/</span></li>
  <li class="active"><%= @player.firstname %> <%= @player.lastname %></li>
</ul>

<h1><%= @player.firstname %> <%= @player.lastname %></h1>

<div class="btn-group">
  <% if can? :new, @player %>
        <%= link_to "Edit", "#{@player.id}/edit", :class => "btn"  %>
        <%= link_to "Add Player", "/players/new", :class => "btn" %>
  <% end %>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-condensed">
      <tr>
        <th>Position</th>
        <td><%= @player.position %></td>
      </tr>
      <tr>
        <th>Birth Date</th>
        <td><%= @player.birth_date %></td>
      </tr>
      <tr>
        <th>Nationality</th>
        <td><%= @player.nationality %></td>
      </tr>
      <% if @player.height %>
        <th>Height</th>
        <td><%= @player.height %> m</td>
      <% end %>
    </table>

  </div>
</div>
<div class="row">
  <div class="span12">
      <%= render :partial => "shared/audit", :locals => {:auditable => @player} %>
  </div>
</div>

