
<h1><%= @player.firstname %> <%= @player.lastname %></h1>
<%= link_to "Edit", @player.id.to_s + "/edit"  %> - <%= link_to "Add Playerstat", @player.id.to_s + "/edit?new=true"  %>

  <div class="field">
    <label>Position </label>
    <span><%= @player.position %> </span>
  </div>
  <div class="field">
    <label>Jersey Number </label>
    <span><%= @player.jersey_number %> </span>
  </div>
  <div class="field">
    <label>Birth Date </label>
    <span><%= @player.birth_date %> </span>
  </div>
  <div class="field">
    <label>Nationality </label>
    <span><%= @player.nationality %> </span>
  </div>
  <div class="field">
    <label>Previous Club </label>
    <span><%= @player.previous_club %> </span>
  </div>


<div>
<strong>Playerstats count: </strong> <%= @player.playerstats.count %>

<% unless @playerstats.empty? %>


  <table id="playerstats_table">
  <tr>
  <th title="League">League</th>
  <th title="Year">Year</th>
  <th title="Club">Club</th>
  <th title="Goals">Goals</th>
  <th title="Assists">Assists</th>
  <th title="Shots">Shots</th>
  <th title="Fouls">Fouls</th>
  <th title="Cautions">Cautions</th>
  <th title="Ejections">Ejections</th>
  <th title="Minutes">Minutes</th>
  <th title="Saves">Saves</th>
  </tr>
  
  
    <%= render @playerstats %>
  </table>
<% end %>
</div>




