
<h1><%= @player.firstname %> <%= @player.lastname %></h1>

<div class="actions">
  <nav class="round">
    <ul>
      <% if can? :new, @player %>
        <li><%= link_to "Edit", "#{@player.id}/edit", :class => "action_button round"  %></li>
        <li><%= link_to "Add Player", "/players/new", :class => "action_button round" %></li>
      <% end %>
      <li><%= link_to "All Players", players_path, :class => "action_button round" %></li>
    </ul>
  </nav>
</div>


  <div class="field">
    <label>Position </label>
    <span><%= @player.position %> </span>
  </div>
  <div class="field">
    <label>Birth Date </label>
    <span><%= @player.birth_date %> </span>
  </div>
  <div class="field">
    <label>Nationality </label>
    <span><%= @player.nationality %> </span>
  </div>

<div>
<strong>Playerstats count: </strong> <%= @player.playerstats.count %>

<div>TODO roll these stats into a per league/year calculation</div>
<% unless @playerstats.empty? %>


  <table id="playerstats_table" class="grid_shaded">
  <tr>
  <th title="Match">Match</th>
  <th title="Club">Club</th>
  <th title="Goals">Goals</th>
  <th title="Assists">Assists</th>
  <th title="Shots">Shots</th>
  <th title="Fouls">Fouls</th>
  <th title="Cautions">Cautions</th>
  <th title="Ejections">Ejections</th>
  <th title="Minutes">Minutes</th>
  <th title="Saves">Saves</th>
  <th title="Jersey Number">Jersey</th>
  </tr>
    
    <%= render @playerstats %>
  </table>
<% end %>

</div>




