<%=header_title("New Playing Location")%>

<%= form_for [@playinglocation.teamstat, @playinglocation], :html => {:class => "well form-horizontal"} do |f| %>
  <%= render :partial => "shared/error_messages", :locals => {:model => f.object} %>
    <%= f.hidden_field :teamstat_id %>
    <div class="alert alert-info">This venue will be added to the league for this team: <%= @teamstat.team_name %></div>

    <div class="control-group">
        <%= f.label "Venue", :class => "control-label" %>
        <div class="controls"><%= f.text_field :venue_id %></div>
    </div>
    <div class="form-actions">
        <%= f.submit "Create", :class => "btn" %>
        <%= link_to "Cancel", leagues_path, :class => "btn" %>
    </div>
<% end %>

