<h1>Edit organization</h1>

<%= form_for(@organization) do |f| %>
  <%= render 'shared/error_messages_organization', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :founded %><br />
    <%= f.text_field :founded %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
    <input type="button" id="cancelOrganizationEdit" value="Cancel"/>
  </div>
<% end %>