<header>
  <div class="top_logo round">
    <%= link_to logo, root_path %>
    <div>Soccer League Manager</div>
  </div>

  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Leagues", leagues_path %></li>
      <li><%= link_to "Teams", teams_path %></li>
      <li><%= link_to "Players", players_path %></li>
      <li>
        <% if user_signed_in? %>
          <li>Users_path</li>
          <li>current_user</li>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
          <li><%= link_to "Sign out", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</header>
